# Ignore files so they don't get added to the repo

# Editor Files
*.swp
*~
.DS_Store

# Django generated stuff
*.log
*.pot
*.pyc

# PINAX Stuff
CONTRIBUTING.md

# Documentation Builds
build/**/*

# The local settins
local_settings.py

# static files
wibo/site_media/*

bin/*

wibo/templates/_analytics.html

wibo/whoosh_index

#.origs files?
*.orig
