{% block head_title %}Employees{% endblock head_title %}

{% block body%}
<h2>Employees</h2>


{% if designer_list %}
<h3>Designers</h3>
<div class="row">
        {% for e in designer_list %} {% include "employee/card.html" with e=e %} {% endfor %}
    </div>

    {% endif %} 
    {% if writers_list %}
    <h3>Writers</h3>
    <div class="row">
            {% for e in writers_list %} {% include "employee/card.html" with e=e %} {% endfor %}
        </div>

        {% endif %} {% if managers_list %}
        <h3>Managers</h3>
        <div class="row">
                {% for e in managers_list %} {% include "employee/card.html" with e=e %} {% endfor %}
            </div>

            {% endif %} {% if sales_list %}
            <h3>Sales</h3>
            <div class="row">
                    {% for e in sales_list %} {% include "employee/card.html" with e=e %} {% endfor %}
                </div>

                {% endif %} {% if hr_list %}
                <h3>Human Resources</h3>
                <div class="row">
                        {% for e in hr_list %} {% include "employee/card.html" with e=e %} {% endfor %}
                    </div>

                    {% endif %} {% if marketing_list %}
                    <h3>Marketing</h3>
                    <div class="row">
                            {% for e in marketing_list %} {% include "employee/card.html" with e=e %} {% endfor %}
                        </div>

                        {% endif %} {% if supply_list %}
                        <h3>Supply Chain Management</h3>
                        <div class="row">
                                {% for e in supply_list %} {% include "employee/card.html" with e=e %} {% endfor %}
                            </div>

                            {% endif %} {% if photographers_list %}
                            <h3>Photographers</h3>
                            <div class="row">
                                    {% for e in photographers_list %} {% include "employee/card.html" with e=e %} {% endfor %}
                                </div>

                                {% endif %} {% if studentadmins_list %}
                                <h3>Student Administrative Assistants</h3>
                                <div class="row">
                                        {% for e in studentadmins_list %} {% include "employee/card.html" with e=e %} {% endfor %}
                                    </div>



                                    {% endif %} {% if web_list %}
                                    <h3>Web</h3>
                                    <div class="row">
                                            {% for e in web_list %} {% include "employee/card.html" with e=e %} {% endfor %}
                                        </div>

                                        {% endif %} {% if designer_list %}
                                        <h3>Designers</h3>
                                        <div class="row">
                                                {% for e in designer_list %} {% include "employee/card.html" with e=e %} {% endfor %}
                                            </div>

                                            {% endif %} {% if sapubs_list %}
                                            <h3>Student Affiars Publications Staff</h3>
                                            <div class="row">
                                                    {% for e in sapubs_list %} {% include "employee/card.html" with e=e %} {% endfor %}
                                                </div>

                                                {% endif %} {% if csr_list %}
                                                <h3>Customer Service Representatives</h3>
                                                <div class="row">
                                                        {% for e in csr_list %} {% include "employee/card.html" with e=e %} {% endfor %}
                                                    </div>

                                                    {% endif %} {% endblock body %}

                                                </body>
                                            </html>
