<div class="well" style="height:260px;overflow:auto;">
    <h4>
        {#<label class="checkbox">#}
            <input name="job_checkbox" value="{{ c.pk }}" type="checkbox" /> <a href="{% url cards.views.job_detail c.job_number %}">{{ c.name }} (#{{c.job_number}})</a>        {#</label>#}
    </h4>
    <div class="row-fluid">
        {#<div class="span1">{% block thumbnail %}Thumbnail{% endblock thumbnail %}</div>#}
        <div class="span12">
            <b>Contact:</b> {{ c.contact }}<br />
            <b>Products:</b> <br />
            <table class="table table-condensed table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Due Date</th>
                        <th>Status</th>
                        <th>Designer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in c.products.all %}
                    <tr>
                        <td><a href="{% url cards.views.product_detail p.id %}">{{p.name}}</a></td>
                        <td><a href="{% url cards.views.product_detail p.id %}">{{p.due_date}}</a></td>
                        <td><a href="{% url cards.views.product_detail p.id %}">{{p.status}}</a></td>
                        <td><a href="{% url cards.views.product_detail p.id %}">{{p.designer}}</a></td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>

            </div>
        </div>
</div>
