{% extends 'cards/job_detail.html' %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block extra_style %}
<link href="{% static "css/datepicker.css" %}" rel="stylesheet" />
{% endblock extra_style %}

{% block extra_script %}
{% include "_datepicker.html" %}
{% endblock extra_script %}

{% block head_title %}New Job{% endblock head_title %}

{% block body %}
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="row">
        <div class="span4">
            <h3>Edit Job</h3>
            {{form|as_bootstrap}}
        </div>
            
        <div class="span8">
            <h3>Instructions</h3>
            <p><b><em>Job Name:</em></b> This sould be something meaningful (something like Walle Concert Materials). Inlcude the SAPUBs FM number if the job comes from an SAPUB stuff member.</p>
            <p><b>Order Number:</b> The order number is a five digit number from Clemson University's online marketplace. Most jobs won't have this.</p>
            <p><b><em>Due Date:</em></b> Every job <em>must</em> have a due date. If the client doesn't give you one, ask. If they still don't know, look at the production schedule and assign a due date (just make sure you tell the client).</p>
            <p><b><em>Assigned User:</em></b> This is you. Or CB+D if you aren't taking the job on yourself.</p>
            <p><b>Production Notes:</b> These notes are just for CB+D, the client won't see them. Give us as much detail as you can about what the client is looking for and what types of communication you've had with them. The more you put here, the easier it is for everyone else (and the fewer paniced phone calls you'll receive).</p>
            <p><b>Client Notes:</b> Client notes are used to clarify things that might be confusing on the quote or invoice. These WILL show up on the quote and invoice the client recieves, so be professional.</p>
            <p><b>Approved By:</b> This is the name of the client (or the client's finacial representative) who approved the quote for the job.</p>
            <p><b>Approved On:</b> When we recieved quote approval.</p>
            <p><b>Attention:</b> Mark the job as "Needs Attention!"</p>
            <p><b><em>Status:</em></b> How far along is the job? Jobs that have been approved should be marked "In Production" if nothing else applies.</p>
            <p><b><em>Payment Type:</em></b> How will the client be paying for this job?</p>
            <p><b><em>Contact:</em></b> Who is the primary contact on this job?</p>
            <p><b><em>Job ROI:</em></b> Where did this job come from? Ricoh jobs have been refered from PrintSmart, SAPUBs jobs have come through the SAPUBs staff (make sure you put the FM number in the job name.</p>
            <p><b>Client Last Contacted:</b> When was the last contact with this client about this job?</p>
            <p><b><em>Price Level:</em></b> INTernal jobs are going to be paid by Clemson University students, faculty or staff members or their on-campus department/group. EXTernal jobs are for everyone else.</p>
            <p><b><em>Billing Contact:</em></b> This is who will be paying for the job (or who gives the final approval on paying for the job). The invoice will be made out in this person's name.</p>
            <p><b>Department Chartstring:</b> (or Account Number) For jobs being paid by IDO, we must have this 23 digit number BEFORE we can start the job. Sometimes clients give us numbers with XXXX in them. That number tells the accounting department what category the spending falls under. We need them to fill those Xs in (if all else fails, use 7015 for "Printing-Internal" though).</p>



        </div>
    </div>
    {% include "formset_table.html" with formset=product_formset %}</div>
    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="Save" />
        <input class="btn" type="button" value="Cancel" onClick="history.go(-1);return true;" />    
    </div>
</form>

{% endblock body %}
